################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIGateway/obj
/APIGateway/bin/Debug/netcoreapp3.1
/.vs
